@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1A1A1A;
  --background: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #FFFFFF;
    --background: #1A1A1A;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  font-family: system-ui, -apple-system, sans-serif;
}
